/* Open Dyslexic */
@font-face {
    font-family: 'opendyslexic';
      src:  url('../font/open_dyslexic/OpenDyslexic-Regular.otf'), 
            url('../font/open_dyslexic/OpenDyslexic-Regular.ttf') format('ttf'),
            url('../font/open_dyslexic/OpenDyslexic-Regular.woff');
      font-style: normal;
      font-weight: normal;
  } 
  
//   @font-face {
//       font-family: 'opendyslexic';
//       src: url('../font/open_dyslexic/OpenDyslexic-Italic.otf');
//       font-style: italic;
//       font-weight: normal;
//   }
  
//   @font-face {
//       font-family: 'opendyslexic';
//       src: url('../font/open_dyslexic/OpenDyslexic-Bold.otf');
//       font-weight: bold;
//       font-style: normal;
//   } 
  
//   @font-face {
//       font-family: 'opendyslexic';
//       src: url('../font/open_dyslexic/OpenDyslexic-BoldItalic.otf');
//       font-weight: bold;
//       font-style: italic;
//   } 