// Variables
// ==================
:root {
    --primary: #2E3B58;
    --secondary: #20C997;
    --dark: #111111;
    --white: #fff;
    --light-grey: #F2F3F5;
    --line-gray: #E0E2E1;
    --input-header: #e2E8F0;
    --font-family: 'Open Sans', sans-serif;
    --font-size: 15px;
    
    // Color Btn
    --btn-color: #fff;
    --btn-primary: #0acf97;
    --btn-primary-hover: #079b71;
    --btn-secondary: #fa5c7c;
    --btn-secondary-hover: #db516c;
    --btn-secondary-shadow: #db516dbe;
    --btn-third: #3f80ea;
    --btn-third-hover: #306bca;
    --btn-third-shadow: #306bcaec;
}


// Outils
// ==================
@import 'tools/reset';
@import 'tools/functions';
@import 'tools/media-queries';
@import 'tools/typography';


// Generic
// ==================
body {
    background-color: var(--light-grey);
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--dark);
    min-height: 100vh;
}

.wb-home {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    transition: flex-grow 200ms ease-in-out, -webkit-box-flex 200ms ease-in-out, -webkit-flex-grow 200ms ease-in-out;
    transition: flex-grow 200ms ease-in-out;
    transition: flex-grow 200ms ease-in-out, -webkit-box-flex 200ms ease-in-out, -webkit-flex-grow 200ms ease-in-out, -ms-flex-positive 200ms ease-in-out;

    #main {
        flex: 1;
        transition: flex-grow 200ms ease-in-out, -webkit-flex-shrink 200ms ease-in-out, -webkit-flex-shrink 200ms ease-in-out, -webkit-box-flex 200ms ease-in-out, -webkit-flex-grow 200ms ease-in-out;
        transition: flex-shrink 200ms ease-in-out, flex-grow 200ms ease-in-out;
        transition: flex-shrink 200ms ease-in-out, flex-grow 200ms ease-in-out, -webkit-flex-shrink 200ms ease-in-out, -webkit-flex-shrink 200ms ease-in-out, -ms-flex-negative 200ms ease-in-out, -webkit-box-flex 200ms ease-in-out, -webkit-flex-grow 200ms ease-in-out, -ms-flex-positive 200ms ease-in-out;
    }
}

.container {
    width: 100%;
    max-width: 1140px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: size(50)+rem;
    padding-bottom: size(50)+rem;
}



// Modules
// ==================
@import 'modules/btn';
@import 'modules/btn-auth';
@import 'modules/navbar';
@import 'modules/header';
@import 'modules/table';
@import 'modules/card';
@import 'modules/margin';
@import 'modules/input';
@import 'modules/radius';


// Pages
// ==================
@import 'pages/auth';
@import 'pages/main';
@import 'pages/contact';