// Pages d'accueil
// ==================
.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: size(40)+rem;

    &-header {
        display: flex;
        flex-flow: column wrap;
        margin-bottom: size(20)+rem;
    }

    &-title {
        font-weight: 700;
        font-size: size(20)+rem;
        margin-bottom: size(8)+rem;
    }
}

.stats {
    display: flex;
    justify-content: start;
    flex-direction: row;

    &-items {
        background-color: var(--white);
        width: calc(100% / 3);
        margin: 0 size(8)+rem;
        padding: size(20)+rem;
        border-radius: size(5)+rem;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .items {
        &-icons {
            display: inline-block;
            background-color: var(--primary);
            color: var(--white);
            padding: size(15)+rem;
            border-radius: size(5)+rem;
            font-size: size(20)+rem;
        }

        &-text {
            margin-top: size(15)+rem;
            font-weight: 600;

            p {
                margin-bottom: size(15)+rem;
            }

            strong {
                font-size: size(20)+rem;
                font-weight: 700;
            }
        }
    }
}