{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}

	{# Statistique #}
	<section class="section">
		<header class="section-header">
			<h2 class="section-title">Dashbord</h2>
			<p>Lorem ipsum dolor sit amet.</p>
		</header>
		<ul class="stats">
			<li class="stats-items">
				<div class="items-icons">
					<i class="fas fa-cash-register"></i>
				</div>
				<div class="items-text">
					<p>Total Amount</p>
					<strong>21 399</strong>
				</div>
			</li>
			<li class="stats-items">
				<div class="items-icons">
					<i class="fas fa-chart-bar"></i>
				</div>
				<div class="items-text">
					<p>Number of Members</p>
					<strong>325</strong>
				</div>
			</li>
			<li class="stats-items">
				<div class="items-icons">
					<i class="fas fa-desktop"></i>
				</div>
				<div class="items-text">
					<p>Number of computers</p>
					<strong>697</strong>
				</div>
			</li>
		</ul>
	</section>

	{# Computers #}
	<section class="section">
		<header class="section-header">
			<h2 class="section-title">Ordinateurs</h2>
			<p>Lorem ipsum dolor sit amet.</p>
		</header>
	</section>

{% endblock %}
