// Btn
// ==================

.btn {
    display: inline-block;
    text-align: center;
    font-weight: 400;
    vertical-align: middle;
    border: none;
    padding: size(10)+rem size(20)+rem;
    font-size: var(--font-size);
    transition: all .3s ease-in-out;
    background-color: transparent;

    &-success {
        background-color: var(--btn-success);
        border-color: var(--btn-success);
        color: var(--btn-color);
    }

    &-danger {
        background-color: var(--btn-danger);
        border-color: var(--btn-danger);
        box-shadow: 0 2px 6px var(--btn-danger-shadow);
        color: var(--btn-color);
    }

    &-danger:hover {
        background-color: var(--btn-danger-hover);
    }

    &-radius {
        border-radius: size(5)+rem;
    }
}